<h1><%= "#{@insulin.name}" %></h1>
<p><%= "Amount injected: #{@insulin.amount}" %></p>
<p><%= link_to @insulin.meal.name, meal_url(id: @insulin.meal.id) %></p>
<p><%= "Injected at: #{@insulin.injected_at}" %></p>
